/Baywatch.txt
/BeginLand2.txt
/BeginLand4.txt
/BeginLand5.txt
/BlindWoman.txt
/COOPBeginLand2.txt
/COOPLandControl2.txt
/ChallengeHighlightNotify.txt
/ChallengeNotify.txt
/ChooseYourCreature.txt
/CitadelGuide.txt
/CreatureActions.txt
/CreatureBreeder.txt
/CreatureCurse.txt
/CreatureDevelopment.txt
/CreatureGuardian.txt
/CreatureGuide.txt
/CreatureHelp.txt
/CreatureSavingPeople.txt
/Crusaders.txt
/CustomBlackAndWhiteIntroMenu.txt
/CustomChallenges.txt
/CustomHardModeApplier.txt
/CustomHardModeLand2.txt
/CustomHardModeLand3.txt
/CustomHardModeLand5.txt
/CustomKillCreatureFix.txt
/CustomLandController.txt
/CustomLoadPlayerColour.txt
/CustomMultiplayerAutoRun.txt
/CustomMultiplayerPlayerColour.txt
/CustomMultiplayerSaving.txt
/CustomOriginalGlobals.txt
/CustomTykeEggHatch.txt
/DidYouKnow.txt
/FinalCreatureSequence.txt
/FinalGoldScroll.txt
/FireOnHigh.txt
/FishPuzzle.txt
/FollowUs.txt
/FreeTheCreature.txt
/GameOver.txt
/GetThroughVortexL2.txt
/GlobalChallenges.txt
/GlobalDLLVariables.txt
/GreedyFarmer.txt
/HandDemos.txt
/HanoiFlood.txt
/Headers.txt
/HelloWorld.txt
/HelpSystem.txt
/IdolPyre.txt
/IsleChallenges.txt
/IsleControl.txt
/IsleHeaders.txt
/JapaneseTraitor.txt
/KillCreatureForever.txt
/KillKhazar.txt
/Land1Challenges.txt
/Land2Challenges.txt
/Land2ComputerAI.txt
/Land2FireballChallenge.txt
/Land2ShieldChallenge.txt
/Land3Challenges.txt
/Land4Challenges.txt
/Land4Meteorites.txt
/Land4Ogre.txt
/Land5Challenges.txt
/LandControl1.txt
/LandControl2.txt
/LandControl3.txt
/LandControl4.txt
/LandControl5.txt
/LandControlAll.txt
/LearnGestures.txt
/LearnInfluence.txt
/LearnWorshipping.txt
/LeaveThroughVortexL1.txt
/LeaveThroughVortexL2.txt
/LeaveThroughVortexL3.txt
/LeaveThroughVortexL4.txt
/LethysVortex.txt
/LionPuzzle.txt
/LostBrother.txt
/LostTreasure.txt
/MagicMushroom.txt
/MissionariesReturned.txt
/MultiplayerAutoRun.txt
/PiedPiper.txt
/PlaceDidYouKnows.txt
/Plague.txt
/ProtectGateKeys.txt
/Reward.txt
/Sacrifice.txt
/SetupComputerCreatures.txt
/SetupCreatureIsle1.txt
/SetupLand1.txt
/SetupLand2.txt
/SetupLand3.txt
/SetupLand4.txt
/SetupLand5.txt
/Shaolin.txt
/SingingStoneCircle.txt
/SingingStonesSongs.txt
/SpiritualHealer.txt
/StandardReminder.txt
/SwapCreatures.txt
/SwapToApe.txt
/SwapToBrownBear.txt
/TheBigFight.txt
/TheHermit.txt
/TheLostFlock.txt
/TheMissionaries.txt
/TheSculptor.txt
/TheSlavers.txt
/TheWorkshop.txt
/ThesiusPuzzleLand4.txt
/ThrowBloke.txt
/ThrowThroughShield.txt
/ThrowingStones.txt
/TreePuzzleOne.txt
/TreePuzzleTwo.txt
/Volcano.txt
/VortexEntry.txt
